<!--
Для того чтобы вывести все записи передаваемые из контроллера в этот шаблон необходимо сделать чтото на подобе цикла.
Из контроллера BlogController мы получаем массив из объектов поэтому его необходимо перебирать через цикл
Т.к. в этом шаблоне используется Thymeleaf при помощи его сделаем цикл по переборке массива для этого:
1. Создаем тег div
2. В атрибутах тега div обращаемся к свойству thymeleaf - each в которой указываем что мы перебираем и указываем переменную
при помощи которой будем перебирать полученный массив
    2.1. Создадим переменную el
    2.2. Укажим что мы будем перебирать ${posts}
    Полностью это выглядит так th:each="el : ${posts}"
    Каждый элемент который был перебран и найден в таблице будет помещен в переменную el.
    Соответственно дальше мы можем использовать переменную el по своему усмотрению
    2.3. Чтобы полученные значения красиво отображались добавим в значения класс от будстрапа class="alert alert-info mt-2"
    mt-2 это марджин топ тоесть отступ сверху, цифра означает какой отстпуп
3. В созданном в п. 1 теге div создадим заголовок H3
3.1. В парамтрах заголовка обратимся к свойству thymeleaf - text.
3.2. В качестве значения которое будет выводится свойством text будем использовать значение переменной которое было
переданно в массиве posts и находится в переменной el для этого обращаемся к переменной el и вызываем необходимый метод.
В данном случае это будет метод getTitle(). Полностью данный запрос будет выглядить так th:text="${el.getTitle()}"
3.3. Аналогично выводим значение anons
3.4. Также создаем ссылку которая будет перенаправлять на страницу где на страницу где будет отображаться
полный текст статьи <a th:href="'/blog/' + ${el.getId()}">Детальнее</a>
3.5. Для того чтобы сработала кнопка Детальнее необходимо в контроллере создать соответствующий обработчик
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>

<body style="background: lightgrey">
<div class="container py-3">
    <!--            <p th:text="'Привет ' + ${title}"/>-->
    <header th:insert="admin/header_admin :: header_admin"></header>
    <div class="container py-3"><H1 th:text="${title}"></H1></div>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.getTitle()}"></h3>
        <p th:text="${el.getAnons()}"></p>
        <a th:href="'admin/blog_admin/' + ${el.getId()}" class="btn btn-warning">Детальнее</a>
    </div>
    <footer th:insert="blocks/footer :: footer" class="text-muted py-5"></footer>
</div>
</body>
</html>