<!--
Создадим форму для добавления новой статьи
1. В теге <form> прописываем action ="" - это страница на которой будет происходить обработка самой форм ее значений.
Она может быть любой, но принято указывать туже странцу на которой расположена сама форма. В нашем случае это/blog/add
2. В теге <form> необходимо указать метод передачи данных. В этом случае это будет метод POST. При использовании метода
POST данные на сервер передаются скрытно. Если указывается метод GET данные передаются в URL адресе.
Все вместе будет выглядить так <form action="/blog/add" method="post">
3. Прописываем imput поля в которые пользователь будет вносить данные
3.1. type="text" означает что будет вводится текст
3.2. значение name указвает имя по которому можно будет получить данные из этого поля
3.3. placeholder - подсказка что вводить в поле
3.4. class - прописываем название класса от будстрапа чтобы поле выглядело красиво
Все вместе будет выглядить так, это для первого поля, для остальных аналогично
 <input type="text" name="title" placeholder="Введите заголовок" class="form-control">
4. Необходимо создать кнопку <button>
4.1. Указываем тип кнопки type="submit". submit означает что при нажатии на кнопку страница будет перезагружена и данные
будут отправлены на сервер
4.2. Для красоты добавляем класс будстрапа либо свой собственный
Все вместе будет выглядить так <button type="submit" class="btn btn-success">
5. Для того чтобы обрабатывать данные из формы необходимо в соответствующем контроллере в нашем случае в BlogController
написать обработчик (метод отслеживающий post запрос поступающий с формы)...
/*-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>

<body style="background: lightgrey">
<div class="container py-3">
    <!-- <p th:text="'Привет ' + ${title}"></p>-->
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-5 mb-5">
        <H1 th:text="${title}"></H1>
        <form action="/blog/add" method="post">
            <input type="text" name="title" placeholder="Введите заголовок" class="form-control mb-2">
            <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control mb-2">
            <textarea name="full_text" placeholder="Напишите сатью" class="form-control" mb-2></textarea>
            <button type="submit" class="btn btn-success mt-2">Добавить статью</button>
        </form>
    </div>
    <footer th:insert="blocks/footer :: footer" class="text-muted py-5"></footer>
</div>
</body>
</html>