<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Профессиональная фотосъемка</title>
<head th:insert="blocks/head :: head"/>
<title>Профессиональная фотосъемка</title>
<body style="background: lightgrey">
<div class="container py-3">
    <!-- <p th:text="'Привет ' + ${title}"/>-->
    <header th:insert="blocks/header :: header"></header>
    <div class="container py-3"><H1>Профессиональная фотосъемка</H1></div>
    <footer th:insert="blocks/footer :: footer" class="text-muted py-5"></footer>
</div>
</body>
</html>